:root {
    --border: 2px solid #000;
    --indent: 10px;
    --gap: 5px;
    --btn-bg-color: #fff;
    --color-msg-error: #b71c1c;
}

span.X {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
.error-msg {
    color: var(--color-msg-error);
    font-size: 10px;
}

button {
    background-color: var(--btn-bg-color);
    border-radius: 5px;
    margin-right: var(--indent);
}

body {
    display: flex;
    justify-content: center;
}

#root {
    border: var(--border);
    display: inline-flex;
    flex-direction: column;
    padding: var(--indent);
}